<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .fieldError {
      color: #bd2130;
    }
  </style>
</th:block>
<th:block layout:fragment="script">
  <script src="https://d3js.org/d3.v6.js"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      var errorMessage = [[${ errorMessage }]];
      if (errorMessage != null) {
        alert(errorMessage);
      }

      // set the dimensions and margins of the graph
      const margin = { top: 10, right: 30, bottom: 30, left: 40 },
        width = 800 - margin.left - margin.right,
        height = 400 - margin.top - margin.bottom;

      // append the svg object to the body of the page
      const svg = d3.select("#my_dataviz")
        .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform",
          `translate(${margin.left},${margin.top})`);

      // get the data
      d3.csv("/csv/sangsan.csv").then(function (data) {
        console.log(data[0]);

        // X axis: scale and draw:
        // minDate = d3.min(data, function(d) { return Date.parse(d.date); });
        // maxDate = d3.max(data, function(d) { return Date.parse(d.date); });
        // const x = d3.scaleLinear()
        //   .domain([1,12])
        //   .range([0, width]);
        // svg.append("g")
        //   .attr("transform", `translate(0, ${height})`)
        //   .call(d3.axisBottom(x));

        // // set the parameters for the histogram
        // const histogram = d3.histogram()
        //   .value(function (d) { return +d.value; })   // I need to give the vector of value
        //   .domain(x.domain())  // then the domain of the graphic
        //   .thresholds(x.ticks(40)); // then the numbers of bins

        // // And apply twice this function to data to get the bins.
        // const bins1 = histogram(data.filter(function (d) { return d.type === "variable 1" }));
        // const bins2 = histogram(data.filter(function (d) { return d.type === "variable 2" }));

        // Y axis: scale and draw:
        var mdate = [{ "date": 202001 }, { "date": 202002 }, { "date": 202003 }, { "date": 202004 }, { "date": 202005 }, { "date": 202006 }, { "date": 202007 }];
        const x = d3.scaleTime()
          .domain(
            d3.min(mdate, function (d) { return new Date(d.date); }),
            d3.max(mdate, function (d) { return new Date(d.date); }))
          .range([0, width]);
        svg.append("g")
          .attr("transform", `translate(0,${height})`)
          .call(d3.axisBottom(x));

        // Add Y axis
        const y = d3.scaleLinear()
          .domain([0, 150])
          .range([height, 0]);
        svg.append("g")
          .call(d3.axisLeft(y));

        // Add the area
        svg.append("path")
          .datum(data)
          .attr("fill", "#cce5df")
          .attr("stroke", "#69b3a2")
          .attr("stroke-width", 1.5)
          .attr("d", d3.area()
            .x(d => x(d.date))
            .y0(y(0))
            .y1(d => y(d.value))
          )
        // Handmade legend
        svg.append("circle").attr("cx", 570).attr("cy", 30).attr("r", 6).style("fill", "#69b3a2")
        svg.append("circle").attr("cx", 570).attr("cy", 60).attr("r", 6).style("fill", "#404080")
        svg.append("text").attr("x", 600).attr("y", 30).text("월생산량").style("font-size", "15px").attr("alignment-baseline", "middle")
        svg.append("text").attr("x", 600).attr("y", 60).text("전년동월대비증가율").style("font-size", "15px").attr("alignment-baseline", "middle")
      });
    });

  </script>

</th:block>
<!--
    2021년 3월 11일 등록
    2021년 4월 29일 수정

    산업통상자원부_부품소재 생산통계_소재부품생산지수통계(생산)
    https://www.data.go.kr/data/3040007/fileData.do#tab-layer-file

    산업통상자원부_부품소재 생산통계_소재부품생산지수통계(출하)
    https://www.data.go.kr/data/15068961/fileData.do

    산업통상자원부_부품소재 생산통계_소재부품생산지수통계(재고)
    https://www.data.go.kr/data/15068964/fileData.do

    소재부품 검색
    https://www.data.go.kr/tcs/dss/selectDataSetList.do?keyword=%EC%86%8C%EC%9E%AC%EB%B6%80%ED%92%88&brm=&svcType=&instt=&recmSe=N&conditionType=init&extsn=&kwrdArray=
-->


<!-- Create a div where the graph will take place -->
<div class="container" layout:fragment="content">
  <div class="row justify-content-center">
    <h3>산업통상자원부_부품소재 생산통계_소재부품생산지수통계(생산)</h3>
    <div>
      <div id="my_dataviz"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <h3>산업통상자원부_부품소재 생산통계_소재부품생산지수통계(출하)</h3>
    <div>
      <div id="my_dataviz0"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <h3>산업통상자원부_부품소재 생산통계_소재부품생산지수통계(재고)</h3>
    <div>
      <div id="my_dataviz1"></div>
    </div>
  </div>
</div>